* {
	margin: 0;
	padding: 0;
	border: 0;
}

td {
	border: 0;
}

body {
	background: url('/images/background_1.jpg') no-repeat center 6px #ededed;	
	font-size: 13px;
	font-family: Arial;
}

a {
	text-decoration: none;
}	

a.dark {
	font-size: 13px;
	
}

div#black_top {	
	width: 100%;
	height: 6px;
	background-color: #313131;
}

div#main_wrapper {
	width: 980px;
	margin: 0 auto;	
}

div#search {
	width: 	285px;
	position: absolute;
	margin-left: 340px;
	margin-top: -235px;
}

input#search_input {
	width: 238px;
	height: 32px;
	border-left: 1px #c9cac6 solid;
	border-top: 1px #c9cac6 solid;
	line-height: 32px;
	padding-left: 8px;
	color: #a7a7a7;
	float: left;
	outline: none;
}

div#search_button {
	width: 38px;
	height: 33px;
	background: url('/images/search_icon.png') no-repeat center #ffa400;
	display: inline-block;
	float: left; 
	cursor: pointer;
}

.advanced_search {
	color: #575757;
	font-size: 13px;
	float: left;
	margin-top: 5px;
}

div#sign_in {
	position: absolute;
	height: 33px;
	line-height: 33px;
	margin-top: -235px;	
	margin-left: 691px;
}

div#sign_in a {
	color: #575757;
}

div#add_your_offer {
	position: absolute;
	height: 33px;
	line-height: 33px;
	margin-top: -235px;	
	margin-left: 762px;
	background-image: url('/images/add_offer_button.png');
	background-position: top;
	color: #ffffff;
	font-weight: bold;
	width: 104px;
	padding-left: 43px;
	cursor: pointer;
}

div#lang {
	position: absolute;
	height: 25px;
	margin-top: -235px;	
	margin-left: 929px;
	background-color: #ffffff;
	color: #575757;
	font-size: 13px;
	width: 42px;
	border: 1px #ededed solid;
	padding: 3px;
}

div#current_lang {
	width: 35px;
	height: 25px;
	background-image: url('/images/arrow_dropdown_lang.png');
	background-color: #f9f9f9;	
	line-height: 25px;
	background-repeat: no-repeat;
	padding-left: 7px;
	background-position: 29px;
	cursor: pointer;
}


ul#lang_list {
	list-style: none;
	position: absolute;
	z-index: 1;
	margin-left: -4px;
	margin-top: 4px;
	display: none;
}

ul#lang_list li span {
	padding-left: 22px;
	background-repeat: no-repeat;
	background-position: 0px;
	cursor: pointer;	
}

span.bl {
	background-image: url('/images/bl.png');	
}

span.en {
	background-image: url('/images/en.png');	
}

span.cr {
	background-image: url('/images/cr.png');	
}

span.pl {
	background-image: url('/images/pl.png');	
}

ul#lang_list li {
	background-color: #ffffff;
	width: 44px;
	height: 25px;
	line-height: 25px;
	border: 1px #ededed solid;
	border-top: 0;
	padding-left: 4px;
}
      
div#add_your_offer:hover {
	background-position: bottom;	
}

div#menu {
	position: absolute;
	width: 980px;
	height: 65px;
	margin-top: -125px;
}

table#menu_table {
	width: 100%;
	color: #ffffff;
	line-height: 18px;
	font-size: 14px;	
	height: 65px;
	border-collapse: collapse;
}

table#menu_table td {
	vertical-align: middle;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	cursor: pointer;
	background-image: url('/images/menu_bg2.png');
	background-repeat: repeat-x;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

table#menu_table td:hover {
	background-image: url('/images/menu_bg2_hover.png');
}

table#menu_table td.first {	
	border-radius: 5px 0 0 5px;
	behavior: url('./PIE.htc');
}

table#menu_table td.last {	
	border-radius: 0 5px 5px 0;
	behavior: url('./PIE.htc');
}

.menu_item {
	position: relative;
	display: table-cell;
	opacity: 1.0;
	filter: alpha(opacity=100);
}

table#menu_table td.separator {
	width: 1px;
	height: 65px;
	padding: 0;
	background-image: url('/images/menu_bg2_hover.png');	
}

div#content {

}

table#content_table {
	margin-bottom: 24px;	
	margin-top: 260px;
}

td.single {
	border: 1px #dddddd solid;
	width: 295px;
	height: 206px;	
	background-color: #ffffff;
	padding: 5px;
	margin-bottom: 10px;
}

td.double {
	border: 1px #dddddd solid;
	width: 627px;
	height: 206px;	
	background-color: #ffffff;
	padding: 5px;
}

td.margin {
	width: 34px;
	display: block;
}

div.header {
	height: 28px;
	background-color: #ffa400;
	line-height: 28px;
	color: #ffffff;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 16px;
	float: left;
	padding-left: 6px;
	padding-right: 6px;
}

td.single.mini {
	border: 1px #dddddd solid;
	width: 295px;
	height: 77px;	
	background-color: #ffffff;
	padding: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	padding-bottom: 6px;
}

td.full {
	border: 1px #dddddd solid;
	width: 100%;
	min-height: 55px;	
	background-color: #ffffff;
	line-height: 55px;
	padding-left: 14px;
	padding-right: 14px;	
	font-size: 13px;
	color: #222222;
}

td.full.gray {
	background-color: #dcdcdc;
	border: 1px solid #d2d2d2;
	font-size: 11px;
	line-height: 20px;
	color: #575757;
	padding-top: 8px;
	padding-bottom: 8px;
}

td.single.mini.special {
	background-color: #faf8c7;
}

td.single.mini:hover {
	background-color: #0789a9;
	color: #ffffff !important;
}

td.single.mini:hover * {
	background-color: #0789a9;
	color: #ffffff !important;
}

td.separator {
	height: 8px;	
}

td.separator2 {
	height: 18px;	
}

div#footer {
	width: 100%;	
}

div#footer div.full_width {
	height: 56px;	
}

div#footer div.dark {
	background-color: #313131;
	color: #ffffff;	
}

div.center {
	width: 980px;
	margin: 0 auto;
	height: 56px;	
	line-height: 56px;
}

#photo_info {
	float: left;	
	display: tabble-cell;
	height: 45px;
	line-height: 18px;
}

#slideshow_dots {
	float: right;
	margin-top: 20px;
	margin-right: 4p;
	display: tabble-cell;
}

.mtop10 {
	margin-top: 10px;
}

div.clear {
	clear: both;	
}

.slide {
	display: none;
}

#slides {
	height: 160px;
}

#slideshow_dots a {
	width: 10px;
	height: 10px;
	background-color: #3d3d3d;
	float: left;
	display: block;
	color: transparent;
	margin-right: 5px;
}

#slideshow_dots a.activeSlide {
	background-color: #12a1bf;
}

p.dark {
	color: #222222;
	font-size: 13px;
	font-weight: bold;	
}

p.less_dark {
	color: #575757;
	font-size: 13px;	
}

.fcolumn {
	float: left;
	line-height: 29px;	
	min-width: 115px;
}

img {
    vertical-align: middle;
}

.fcolumn p {
	padding-left: 10px;
	cursor: pointer;
}

.fcolumn p.h:hover {
	background-color: #12a1bf;
	color: #ffffff;
}

p.bbottom {
	border-bottom: 1px solid #ededed;	
}

div#map {
	float: right;	
}

div#map_apla {
	width: 628px;
	text-align: right;
	position: absolute;
}

div#map_apla_right {
    width: 306px;	
    height: 29px;
    float: right;
    background-color: #ffa400;
    text-align: center;
    opacity: 0.8;
    line-height: 29px;
}

div#map_apla_right a {
	color: #ffffff;	
}

.thumb {
	float: left;	
}

.desc {
	width: 141px;
	height: 100%;
	float: right;
	line-height: 18px;	
	position: relative;
}


img.mini_arrow {
    float: right;
    margin-right: 6px;
    margin-top: 10px;
}

.star {
	background-image: url('/images/star_icon.png');
	width: 11px;
	height: 10px;	
	display: inline-block;
}

div.stars {
	
}

ul.stars_ul {
	list-style: none;
}

.bottomRight {
    position: absolute;
    right: 0px;
    bottom: -5px;
}

.right {
	float: right;	
}

.left {
	float: left;	
	margin-right: 93px;
}

a.orange {
	color: #ffa400;	
}

.last {
	margin-right: 0px;	
}

span#footer_email {
	height: 20px;
	line-height: 16px;
	background-image: url('/images/contact_footer_icon.png');
	background-repeat: no-repeat;
	padding-left: 30px;	
	margin-left: 45px;
	display: inline-block;
	font-size: 13px;
}

span.tel {
	margin-left: 50px;
}

ul#footer_menu {
	font-size: 14px;
	list-style: none;
	float: left;
}

ul#footer_menu li {
	margin-right: 30px;
	display: inline-block;
}

ul#footer_menu li a {
	color: #575757;	
}

span.logo_mini {
	margin-top: 20px;
	height: 67px;
	display: inline-block;
	line-height: 17px;
	padding-left: 35px;
	background-repeat: no-repeat;
	background-image: url('/images/direct_bulgaria_mini.png');
}

div.photo_apla {
	height: 20px;	
	padding-left: 8px;
	padding-right: 8px;
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	background-color: #ffa400 !important;
	font-size: 13px;
	color: #ffffff;
}
